# Directory Listing
Options All -Indexes

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine on
	
	RewriteBase /
	RewriteBase /anxiety/
	RewriteRule ^(.*)/$ $1.php [L]
</ifModule>

<files .htaccess>
	order allow,deny
	deny from all
</files>

<files koneksi.php>
	order allow,deny
	deny from all
</files>

# Disable modsecurity
<IfModule mod_security.c>
	SecFilterEngine Off
	SecFilterScanPOST Off

	# Server Information Disclosure
	ServerTokens Prod
	ServerSignature Off
	SecServerSignature " "
</IfModule>